@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

body{
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(5,7,39,1) 59%, rgba(38,83,72,1) 100%);
  width: 90%;
  margin: 0 auto;
}
@media  (max-width: 800px){
  body{
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(5,7,39,1) 90%, rgba(38,83,72,1) 100%);
  }
}
h1, h2, h3{
  font-family: 'Raleway', sans-serif;
  color:#fff;
  margin-top: 0em;
  margin-bottom: 0em;
}

h1 span{
  color: #EA4A66;
}

p{
  font-family: 'Raleway', sans-serif;
  color:#fff;
  span{
    color: #EA4A66;
  }
}